.transactionHistory {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
  text-align: left;
}

.transactionHistory thead {
  background-color: #f3f3f3;
}

.transactionHistory th,
.transactionHistory td {
  border: 1px solid #ddd;
  padding: 8px;
}

.transactionHistory tr:nth-child(even) {
  background-color: #c9c9c9;
}

.transactionHistory th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #333;
  color: white;
}
